body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* elements in header section */

.header{
    display: flex;
}

h1{
    font-size: 18px;
}

ul{
    /* this removes the dots on the list items*/
    list-style-type: none;
    text-decoration: none;
    display: flex;
}


/* elements in mid section */

.mid{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote{
    display: flex;
    background-color: #e5e7eb;
}

.advert{
    display: flex;
}

/* elements in footer section */

.footer{
    display: flex;
    min-height: 70px;
    justify-content: center;
    align-items: center;
}

/* Colors for elements within the page */

.blue_background{
    background-color: #1f2937;
    color: white;
}

.button, .advert{
    color: white;
    background-color: #3882f6;
}
